@model QuizMvc.ViewModels.TakeQuizViewModels

@{
    ViewBag.Title = "Take Quiz";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Submit", "Quiz", FormMethod.Post))
{
    @Html.HiddenFor(m => m.QuizId)

    @for (int i = 0; i < Model.Question.Count; i++)
    {
        var question = Model.Question[i];

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Question @(i + 1):</strong> @question.Text
            </div>

            <div class="panel-body">
                <div class="radio">
                    <label>
                        <input type="radio" name="userAnswers[@question.Id]" value="@question.OptionA" />
                        @question.OptionA
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="userAnswers[@question.Id]" value="@question.OptionB" />
                        @question.OptionB
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="userAnswers[@question.Id]" value="@question.OptionC" />
                        @question.OptionC
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="userAnswers[@question.Id]" value="@question.OptionD" />
                        @question.OptionD
                    </label>
                </div>
            </div>
        </div>
    }

    <button type="submit" class="btn btn-success">Submit Quiz</button>
}
